.debug {
  header {
    height: 50px;
    background-color: #3161e0;
  }

  /* * {
    border: 1px dashed;
  } */

  .container {
    height: 100px;
  }

  section {
    height: 350px;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.676);
    height: 500px;
  }
}

/* common rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.just-cont {
  justify-content: space-evenly;
}

.li-unl {
  list-style: none;
  gap: 2rem;
  a {
    text-decoration: none;
    color: white;
  }
}

.jumbotron {
  height: 400px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 0.5rem 0;
  height: 50px;
}

.jumbotron .container {
  width: 65%;
}

/* main */

.w70 {
  width: 70%;
}

.w30 {
  width: 20%;
  flex-direction: column;
  margin-top: 2.5rem;
}

section {
  padding: 3rem 0;
  background-color: white;
  margin-bottom: 20rem;
}

.top {
  height: 50px;
}

.accedi {
  border-radius: 20px;
  height: 30px;
  padding: 0 10px;
  border: none;
  color: black;
}

.container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: auto;
  width: 65%;
  padding: 5rem;
  color: white;
  font-size: 20px;
}

h1 {
  margin-bottom: 1rem;
  flex-direction: column;
}

.but_row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.butmid {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  padding: 0 10px;
  border: none;
}

.special {
  color: white;
  background-color: #23272a;
}

h2 {
  margin-bottom: 2rem;
  font-size: 35px;
}

.channel .d-flex {
  justify-content: space-between;
}

.meeting .d-flex {
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 400px;

  h3 {
    text-align: center;
    margin: 2rem;
    background-image: url("../img/stars.svg");
    height: 100px;
  }

  button {
    align-items: center;
    border-radius: 20px;
    height: 30px;
    padding: 0 15px;
    border: none;
    background-color: #8ea1e1;
    color: white;
  }
}
